@page {
	width: 21cm;
	height: 29.7cm;
	/* change the margins as you want them to be. */
}

@media screen {
	html {
		background: #efefef;
	}
	body {
		width: 17cm;
		min-height: 27.7;
		padding: 1.5cm 2cm 2cm 2cm;
		font-size: 12px;
		line-height: 1.7;
		margin: auto;
	}
}

@media print {
	@page {
		size: 21cm 29.7cm;
		margin: 1.5cm 2cm 2cm 2cm;
	}
	html {
		margin: 0;
		padding: 0;
	}
	body {
		margin: 0;
		padding: 0;
		font-size: 10pt;
		line-height: 1.5;
	}
	rt {
		font-weight: bold;
	}
}

body {
	color: black;
	font-family: Ubuntu, DejaVu Sans, Helvetica, sans;
	background: white;
	display: grid;
	grid-template-columns: 13em auto;
}

a, code, .github::before {
	font-family: "Ubuntu Mono", monospace;
	text-decoration:  none;
	color: black;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1, h2, table {
	grid-column-end: span 2;
}

h1, h2 {
	margin-top: 0;
	padding-top: 0;
}

h2 {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px grey;
	color: midnightblue;
	font-size: 1.4em;
	grid-column-end: span 2;
	margin-top: 1.2em;
	margin-bottom: 0;
}

h2 span {
	padding-right: 0.5em;
}

h3, h4, h3 + ul, h2 + table {
	font-size: 1em;
	margin: 1em 0 0 0;
}

h3 {
	grid-column: 1;
	grid-row-end: span 3;
}

h4, ul {
	grid-column: 2;
}

h4 {
	display: flex;
}

ul {
	padding-left: 2em;
	margin-top: 0em;
	margin-bottom: 0;
}

p {
	margin: 0;
	padding-bottom: 0;
}

ruby {
	padding: 0 0.25em;
}

rt {
	font-family: Noto Serif JP, Noto Serif CJK JP, serif;
	font-size: 0.8em;
	font-weight: bold;
}

td:nth-child(1) {
	min-width: 12em;
}

.name {
	text-align: center;
	margin-bottom: 0;
}

.name > span {
	margin-left: auto;
	border-bottom: double 1mm grey;
	padding: 0 1em 0.25em 1em;
}

.personal-details {
	width: 100%;
	font-size: 1.1em;
	padding: 1em 0 0 0;
	line-height: 1;
}

.personal-details td:nth-child(2) {
	text-align: right;
	vertical-align: bottom;
}

.formal::before {
	content: "Formal: ";
	padding-right: 0.25em;
}

.github::before {
	content: "github/";
}

.nationality::before {
	content: "Nationality: ";
	padding-right: 0.5em;
}

.website::before {
	content: "Website: ";
	padding-right: 0.5em;
}

.time {
	flex-grow: 1;
	text-align: right;
	padding-right: 0;
}

.location::before {
	content: "(";
}

.location::after {
	content: ")";
}

.note {
	display: block;
}

.note::before {
	content: "(";
}

.note::after {
	content: ")";
}

.prof::before {
	content: "Guide:";
	padding-right:  0.25em;
}

span.role {
	border-left: 1px solid black;
	padding-left: 0.5em;
}
